<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="text-align: center;">
        <H1 style="color: purple;"> notas </H1>
    </div>

    <div style="text-align: center;font-size: large;">
        {% for nota in notas %}

        {% if nota > 6 %}

        <p style="color: red;"> {{nota}} </p>

        {% else %}
        <p style="color:green"> {{nota}} </p>

        {% endif %}

        {% endfor %}
    </div>




    <a href="/prueba/"> regresar al comienzo</a>
</body>

</html>